@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
a {
  color: black;
  text-decoration: none;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  font-size: 16px;
}

.title {
  text-align: center;
  margin-bottom: 5vh;
}

@media (max-width: 768px) {
}
