main {
  margin: 5vh 0;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px auto;
  width: 70%;
}

li {
  width: 85%;
  list-style: none;
  margin: 5px 10px;
  padding: 10px;
  border-radius: var(--boder-radius);
  box-shadow: var(--Container_shadow);
}

img {
  width: 100%;
  border-radius: 5px;
  border: 1px #f0f0f0 solid;
}

h3,
p {
  margin: 10px 5px;
  padding: 0;
}
:root {
  --Container_shadow: 2px 4px 12px #00000014;
  --boder-radius: 10px;
}

@media (max-width: 768px) {
  ul {
    grid-template-columns: 1fr;
    width: 90%;
  }
  li {
    margin: 10px 0;
  }
}
